
.background-box {
  position: relative;
  height: 400px;
  background: {
    image: url(background.jpg);
    size: cover;
    position: center center;
    repeat: no-repeat;
    attachment: fixed;
  }
}

.logo {
  height: 300px;
  width : 100%;
  position: absolute;
  top:50%;
  margin-top: -150px;
  background: {
    image: url(jihonglogo.png);
    position: center;
    size: contain;
    repeat: no-repeat;
  }
}